<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/fontawesome/css/font-awesome.min.css') }}">

        {% block stylesheets %}

      {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
      {% include('navigation/mainNav.html.twig') %}
      <div class="container">
      <h1>Miejsce na nagłówek strony</h1>
      <p>Tu można umieścić baner, slider, grafikę. Te elementy będą dynamiczne i mogą być inne dla każdej strony aplikacji.</p>
      <i class="fa fa-car fa-3x" aria-hidden="true"></i>
      </div>
      <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Kontener 1</h2>
          <p>Tu można umieścić przyciski nawigacyjne, formularz filtrów, banner...Te elementy będą dynamiczne i mogą być inne dla każdej strony aplikacji.</p>
          <i class="fa fa-battery-three-quarters fa-3x" aria-hidden="true"></i>
        </div>
        <div class="col-md-6">
          <h2>Kontener 2</h2>
          <p>Tu można umieścić przyciski nawigacyjne, formularz filtrów, banner...Te elementy będą dynamiczne i mogą być inne dla każdej strony aplikacji.</p>
          <i class="fa fa-university fa-3x" aria-hidden="true"></i>
        </div>
      </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            {% for flash_message in app.session.flashbag.get('notice')%}
              <div class="alert alert-success">{{flash_message}}</div>
            {% endfor %}
            {% block body %}
            {% endblock %}
          </div>
        </div>
      </div>

      <script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
      <script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>
      <script src="{{ asset('js/main.js') }}"></script>
      <script src="{{ asset('vendor/canvas/canvasjs.min.js') }}"></script>
        {% block javascripts %}

      {% endblock %}
    </body>
</html>
