{% extends 'base.html.twig' %}

{% block body %}

    <h2 class="page-header">Substancje</h2>
    <a href="/substance/create" class="btn btn-success">Stwórz nową substancję</a>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Substancja</th>
          <th>CAS</th>
          <th>WE</th>
          <th>Prężność pary</th>
          <th>Grupa Związków</th>
          <th>Prekursory narkotykowe</th>
          <th>Kobize</th>

        </tr>
      </thead>
      <tbody>
        {% for substance in substances  %}
        <tr>
          <th scope="row">{{substance.id}}</th>
          <td>{{substance.name}}</td>
          <td>{{substance.cas}}</td>
          <td>{{substance.we}}</td>
          <td>{{substance.vpressure}}</td>
          <td>{{substance.envusage}}</td>
          <td>{{substance.druglike}}</td>
          <td>{{substance.kobize}}</td>

          <td>
            <a href="/substance/details/{{substance.id}}" class="btn btn-success">Podgląd</a>
            <a href="/substance/edit/{{substance.id}}" class="btn btn-default">Edycja</a>
            <a href="/substance/delete/{{substance.id}}" class="btn btn-danger">Usuń</a>
          </td>

        </tr>
        {% endfor %}

      </tbody>
    </table>

{% endblock %}
