{% extends 'base.html.twig' %}

{% block body %}

    <h2 class="page-header">Substancje</h2>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Substancja</th>
          <th>CAS</th>
          <th>WE</th>
          <th>Prężność pary</th>
        </tr>
      </thead>
      <tbody>
        {% for substance in substances  %}
        <tr>
          <th scope="row">{{substance.id}}</th>
          <td>{{substance.name}}</td>
          <td>{{substance.cas}}</td>
          <td>{{substance.we}}</td>
          <td>{{substance.vpressure}}</td>

        </tr>
        {% endfor %}

      </tbody>
    </table>
  
{% endblock %}
