{% extends 'base.html.twig' %}

{% block body %}

    <h2 class="page-header">REACH 17</h2>
    <a href="/admin/datalist/reach17/create" class="btn btn-success">Stwórz nowy</a>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nazwa</th>
          <th>CAS</th>
          <th>WE</th>
          <th>Warunki</th>


        </tr>
      </thead>
      <tbody>
        {% for reach17 in reach17  %}
        <tr>

          <td>{{reach17.name}}</td>
          <td>{{reach17.cas}}</td>
          <td>{{reach17.we}}</td>
          <td>{{reach17.conditions}}</td>

          <td>
            <a href="/admin/datalist/reach17/edit/{{reach17.id}}" class="btn btn-default">Edycja</a>
          </td>

        </tr>
        {% endfor %}

      </tbody>
    </table>

{% endblock %}
